// item-list
.item-list {
  background-color: $white;
  border: 1px solid $gray;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: tough;
  }


// item
.item {
cursor: pointer;
padding: $space;
border-left: $item-border-width solid transparent;
transition: background-color .2s ease, border-left .2s ease;
}

.item:hover {
  background-color: $light-gray;
  border-left: $item-border-width solid $gray;
}

.item--selected, .item--selected:hover {
    background-color: $light-gray;
    border-left: $item-border-width solid $brand-primary;
}

.item--title {
  font-weight: normal;
  font-size: $base-font-size;
  margin-bottom: .4rem;
}

.item--selected .item--title {
  font-weight: bold;
}

.item--subtitle {
  font-style: italic;
  color: $dark-gray;
  margin: 0;
}

.empty-item {
  font-style: italic;
  padding: $space;
  text-align: center;
}
.item-list--header {
  display: flex;
  flex-direction: column;
  padding: $space;
}
