.page-content {
  display: flex;
  max-width: $site-max-width;
  margin: 0 auto;
  height: $page-content-height;

  @include desktop () {
    padding: $large-space $space;
    }
}
.page-content--sidebar {
  display: flex;
  transition: left .3s ease;
  width: 100vw;

  position: fixed;
  bottom: 0;
  left: -100vw;

  top: $header-height;
  @include desktop () {
    display: flex;
    position: static;
    width: $page-content-sidebar-width;
    padding-right: $large-space;
  }
}

.is-nav-open .page-content--sidebar {
  left: 0;
  }

.page-content--main {
  display: flex;
  width: 100%;
    @include desktop () {
    width: $page-content-main-width;
  }
}
