.page-content {
  display: flex;
  max-width: $site-max-width;
  margin: 0 auto;
  height: $page-content-height;

  @include desktop () {
    padding: $large-space $space;
    }
}
.page-content--sidebar {
  // display: flex;
  display: none;
  width: $page-content-sidebar-width;
  padding-right: $large-space;
  @include desktop () {
    display: flex;
  }
}

.page-content--main {
  display: flex;
  width: 100%;
    @include desktop () {
    width: $page-content-main-width;
  }
}
